.nav-user {
  &:hover {
    cursor: pointer;
    .nav-user-item {
      display: block;
    }
  }
}

.nav-user-item {
  display: none;
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
